body {
    text-align: center;
  }
  
  .btn {
    height: 200px;
    width: 200px;
    border-radius: 20%;
    border: 10px solid black;
    margin: 2rem;
  }
  
  .btn-container {
    display: flex;
    justify-content: center;
  }
  
  .green {
    background-color: lime;
  }
  
  .red {
    background-color: red;
  }
  
  .yellow {
    background-color: yellow;
  }
  
  .blue {
    background-color: blue;
  }
  
  .flash {
    background-color: white;
  }
  
  .userflash {
    background-color: green;
  }